.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.user-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}

td, th {
  padding: 6px;
}
input, .fetch-btn {
  margin: 6px;
}